{% extends 'base.html.twig' %}

{% block javascripts %}

    <script src="{{ asset('dynatree/jquery/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('dynatree/jquery/jquery-ui.custom.js') }}" type="text/javascript"></script>
    <script src="{{ asset('dynatree/jquery/jquery.cookie.js') }}" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="{{ asset('dynatree/src/skin/ui.dynatree.css') }}">
    <script src="{{ asset('dynatree/src/jquery.dynatree.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("#tree").dynatree({
                onActivate: function (node) {
                    SendRequest(node.data.key);
                },
                //persist: true,
                initAjax: {
                    url: "{{ path('get_category_branch') }}",
                    data: {
                        key: "1"
                    }
                },
                onLazyRead: function (node) {
                    node.appendAjax({
                        url: "{{ path('get_category_branch') }}",
                        data: {
                            "key": node.data.key
                        }
                    });
                }
            });
            $(window).load(function() {
                $("#tree").dynatree("getRoot").getChildren()[0].activate(true);
            });
        });
    </script>
    <script type="text/javascript">
        function SendRequest(categoryId) {
            $.ajax({
                type: "POST",
                url: "{{ path('product_list_action') }}",
                data: "data_1=" + categoryId,
                success: function (response) {
                    $('#response').html(response);
                }
            });
        };
        function createViewModal(id) {
            $.ajax({
                type: "POST",
                url: "{{ path('product_view_modal') }}",
                data: "id=" + id,
                success: function (response) {
                    $('#myModal').html(response);
                }
            });
        }
    </script>
    <script>
        $(document).ready(function () {
            $("#btnOpenModal").click(function () {
                $("#myModal").modal();
            });
        });
    </script>
{% endblock %}

{% block body %}
    <style>

        .card-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .card {
            margin-bottom: 1.5rem;
        }

        .imageContainer {
            position: relative;
            overflow: hidden;
            padding-bottom: 100%;
        }

        .imageContainer img {
            position: absolute;
        }



    </style>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-3 col-md-2 d-flex bg-light sidebar">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <div id="tree"></div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('product_create') }}">Create product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">some link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">render filters</a>
                    </li>
                </ul>
            </nav>
            <main class="col-sm-9 ml-sm-auto col-md-10 pt-3 d-flex" role="main">
                <div class="container">
                    <div id="response" class="row card-deck"></div>
                </div>
            </main>
        </div>
    </div>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="myModal">

            </div>
        </div>
    </div>
{% endblock %}

