{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ product.name }}</h1>
    <img src="{{ asset('uploads/images/' ~ product.image) }}">
    <h4>{{ product.description }}</h4>
    <table class="table table-sm">
        <thead>
        <tr>
            <th>Feature</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        {% for attribute in attributes %}
        <tr>
            <th scope="row">{{ attribute.name }}</th>
            <td>{{ attribute.value }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}