{% if not products %}
    <h1>No items</h1>
{% else %}
    {% for product in products %}

        <div class="card" style="width: 20rem; min-width: 15rem;">
            <img class="card-img-top" src="{{ asset('uploads/images/' ~ product.image) }}" onclick="createViewModal('{{ product.id }}')" data-toggle="modal"
                 data-target=".bd-example-modal-lg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">{{ product.name }}</h4>
                <p class="card-text">{{ product.description }}</p>
            </div>
            <div class="card-footer">
                <a href="{{ path('product_page',  {'id': product.id}) }}" class="card-link"><small>Details</small></a>
                <a href="{{ path('product_edit',  {'productId': product.id}) }}" class="card-link"><small>Edit</small></a>
            </div>
        </div>

    {% endfor %}
{% endif %}