{% extends 'base.html.twig' %}

{% block javascripts %}
    <!-- Include the required JavaScript libraries: -->
    <script src="{{ asset('dynatree/jquery/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('dynatree/jquery/jquery-ui.custom.js') }}" type="text/javascript"></script>
    <script src="{{ asset('dynatree/jquery/jquery.cookie.js') }}" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="{{ asset('dynatree/src/skin/ui.dynatree.css') }}">
    <script src="{{ asset('dynatree/src/jquery.dynatree.js') }}" type="text/javascript"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>var $j = jQuery.noConflict(true);</script>
    <script>
        $j(document).ready(function(){

            var counter = 2;


            $j("#addButton").click(function () {

                if(counter>10){
                    alert("Only 10 textboxes allow");
                    return false;
                }

                var newTextBoxDiv = $j(document.createElement('div'))
                    .attr("id", 'TextBoxDiv' + counter).attr("class", 'form-group row');

                newTextBoxDiv.after().html(
                    '<div class="col-4">' +
                    '<input type="text" class="form-control" id="attrName' + counter +
                    '" placeholder="Attribute name">'+
                    '</div><div class="col-4">' +
                    '<input type="text" class="form-control" id="attrValue' + counter +
                    '" placeholder="Attribute value"></div>');

                newTextBoxDiv.appendTo("#TextBoxesGroup");


                counter++;
            });

            $j("#removeButton").click(function () {
                if(counter==1){
                    alert("No more textbox to remove");
                    return false;
                }

                counter--;

                $("#TextBoxDiv" + counter).remove();

            });

            $j("#getButtonValue").click(function () {

                var msg = '';
                for(i=1; i<counter; i++){
                    msg += "\n"+ $j('#attrName' + i).val() + " : " + $j('#attrValue' + i).val();
                }
                alert(msg);
            });

            $j("#submitButton").click(function () {
                var attrName = [];
                var attrValue = [];
                for(i=1; i<counter; i++){
                    attrName.push($j('#attrName' + i).val());
                    attrValue.push($j('#attrValue' + i).val());
                }
                $j.ajax({
                    type: "POST",
                    data: {name:$j("#productName").val(),
                        description:$j("#productDescription").val(),
                        category: activeNode,
                        attrName:attrName, attrValue:attrValue},
                    url: "{{ path('product_create_ajax') }}",
                    success: function(response){
                        $('#response').html(response);
                    }
                });
            });
        });

    </script>
    <script>
        var activeNode;
        $(function () {
            $("#tree").dynatree({
                onActivate: function (node) {
                    activeNode = $("#tree").dynatree("getActiveNode").data.key;
                    $('#renamedValue').val(node.data.title);
                },
                //persist: true,
                initAjax: {
                    url: "{{ path('get_category_tree') }}"
                }
            });
        });
    </script>

{% endblock %}

{% block body %}
    <div id="response"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <form>
                    <div class="form-group">
                        <label>Product name</label>
                        <input type="text" class="form-control" id="productName" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <label>Description:</label>
                        <textarea class="form-control" placeholder="not more than 1000 " rows="3"
                                  maxlength="1000" id="productDescription"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Choose category:</label>
                        <div id="tree"></div>
                    </div>
                    <div class="form-group">
                        <label>Choose image:</label>
                        <input type="file" class="form-control-file">
                    </div>
                    <div class="form-group">
                        <label>Product name</label>
                        <div id='TextBoxesGroup'>
                            <div id="TextBoxDiv1" class="form-group row">
                                <div class="col-4">
                                    <input type="text" class="form-control" id="attrName1" placeholder="Attribute name">
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" id="attrValue1" placeholder="Attribute value">
                                </div>
                            </div>
                        </div>
                        <input type='button' value='Add Button' id='addButton'>
                        <input type='button' value='Remove Button' id='removeButton'>
                        <input type='button' value='Get TextBox Value' id='getButtonValue'>
                    </div>
                    <button type="button" class="btn btn-primary" id="submitButton">Create product</button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
