{% extends 'base.html.twig' %}

{% block title %}Sign up{% endblock %}

{% form_theme form _self %}

{% block stylesheets %}
{% endblock %}

{% block captcha %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="alert alert-info" role="alert">
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-auto">
                {{ form_errors(form) }}
                <form name="registration" method="post" action="{{ path('register') }}">
                    <div class="form-group row">
                        {{ form_errors(form.username) }}
                        <label for="username">{% trans %}Username{% endtrans %}</label>
                        {{ form_widget(form.username, {'attr':{'class': 'form-control', 'placeholder': 'Username'}}) }}
                    </div>
                    <div class="form-group row">
                        {{ form_errors(form.email) }}
                        <label for="registration_email">Email</label>
                        <input type="email" id="registration_email" name="registration[email]" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">{% trans %}We'll never share your email with anyone else.{% endtrans %}</small>
                    </div>

                    <div class="form-group row">
                        {{ form_errors(form.plainPassword.first) }}
                        <label for="password">{% trans %}Password{% endtrans %}</label>
                        {{ form_widget(form.plainPassword.first, {'attr':{'class': 'form-control', 'placeholder': 'Password'}}) }}
                    </div>
                    <div class="form-group row">
                        {{ form_errors(form.plainPassword.second) }}
                        <label for="password">{% trans %}Repeat password{% endtrans %}</label>
                        {{ form_widget(form.plainPassword.second, {'attr':{'class': 'form-control', 'placeholder': 'Repeat password'}}) }}
                    </div>
                    <div class="form-group row">
                        {{ form_errors(form.firstName) }}
                        <label for="firstName">{% trans %}First name{% endtrans %}</label>
                        {{ form_widget(form.firstName, {'attr':{'class': 'form-control', 'placeholder': 'First name'}}) }}
                    </div>
                    <div class="form-group row">
                        {{ form_errors(form.lastName) }}
                        <label for="lastName">{% trans %}Last name{% endtrans %}</label>
                        {{ form_widget(form.lastName, {'attr':{'class': 'form-control', 'placeholder': 'Last name'}}) }}
                    </div>
                    <div class="form-group row">
                        {{ form_errors(form.patronymicName) }}
                        <label for="patronymicName">{% trans %}Patronymic{% endtrans %}</label>
                        {{ form_widget(form.patronymicName, {'attr':{'class': 'form-control', 'placeholder': 'Patronymic name'}}) }}
                    </div>
                    <div class="form-group row">
                    <div class="g-recaptcha" data-sitekey="6Lek5TEUAAAAAL9GJa3eJWEhDRwXNAMmSxH-mBi9"></div>
                    {{ form_row(form._token) }}
                    <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans %}Sign up{% endtrans %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{#
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.patronymicName) }}

    <button type="submit">Register!</button>
    {{ form_end(form) }}

    #}
{% endblock %}



